@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,700;1,900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
* {
    box-sizing: border-box;
    
}
body {
    margin: 0;
    padding:0;
    font-family: 'Roboto', sans-serif !important;
    background: rgb(179,172,203);
    background: linear-gradient(176deg, rgba(102,98,113,1) 0%, rgba(56,54,63,1) 45%, rgba(32,31,36,1) 100%);
    min-height: 100vh;
    color: white;
}

.owl-carousel .owl-dot span {
    width: 12px !important;
    height: 12px !important;
    margin: 5px 7px;
    background: transparent !important;
    border:1px solid white;
    margin-left:30px !important;
    display: block;
    -webkit-backface-visibility: visible;
    -webkit-transition: opacity 200ms ease;
    -moz-transition: opacity 200ms ease;
    -ms-transition: opacity 200ms ease;
    -o-transition: opacity 200ms ease;
    transition: opacity 200ms ease;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 50%;
}

.owl-carousel button.active span {
    background-color:white !important;
}